clodsa==1.2.35
future==0.17.1
gluoncv==0.5.0
imutils==0.5.3
keras==2.3.1
keras_retinanet==0.5.1
lxml==4.4.2
mrcnn==0.2
mxnet==1.5.1.post0
numpy==1.17.4
opencv-python==3.4.2.16
pandas==0.24.1
scikit-image==0.16.2
tensorflow==2.6.4
tqdm==4.40.2
